# Desafio Nintendo

## Passos iniciais:

#### Passo 1 - Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np

#### Passo 2 - Lendo o arquivo e resumindo o DataFrame

In [2]:
df= pd.read_excel("best-selling game consoles.xlsx", sheet_name="consoles")
df.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.1+ KB

In [4]:
df.describe().round(1)

       Released Year  Discontinuation Year  Units sold (million)
count           51.0                  51.0                  51.0
mean          1996.1                1844.8                  35.5
std             12.4                 543.7                  42.6
min           1976.0                   0.0                   1.0
25%           1987.5                1992.0                   3.2
50%           1994.0                1998.0                  13.6
75%           2004.5                2011.5                  60.2
max           2020.0                2020.0                 155.0

## Exercícios:

### 2:
- Substituir a palavra "NES" por "Nintendinho" no nome dos consoles e deixar todos os nomes em maiúsculos

In [5]:
df["Console Name"] = df["Console Name"].str.replace("NES", "Nintendinho")
df["Console Name"] = df["Console Name"].str.upper()
df

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PLAYSTATION 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,NINTENDO DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,NaN
3,GAME BOY,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,GAME BOY COLOR,Handheld,Nintendo,1998,2003,44.06,NaN
5,PLAYSTATION 4,Home,Sony,2013,0,117.20,NaN
6,PLAYSTATION,Home,Sony,1994,2006,102.49,NaN
7,WII,Home,Nintendo,2006,2013,101.63,NaN
8,PLAYSTATION 3,Home,Sony,2006,2017,87.40,Final sales are greater than 87.4 million
9,XBOX 360,Home,Microsoft,2005,2016,84.00,Final sales are greater than 84 million
10,GAME BOY ADVANCE,Handheld,Nintendo,2001,2010,81.51,NaN
11,PLAYSTATION PORTABLE,Handheld,Sony,2004,2014,82.00,Estimated between 80-82 million
12,NINTENDO 3DS,Handheld,Nintendo,2011,2020,75.94,NaN
13,NINTENDINHO/FAMICOM,Home,Nintendo,1983,2003,61.91,NaN
14,XBOX ONE,Home,Microsoft,2013,2020,58.50,Estimated between 51-58.5 million
15,SNINTENDINHO/SUPER FAMICOM,Home,Nintendo,1990,2003,49.10,NaN
16,GAME & WATCH,Handheld,Nintendo,1980,1991,43.40,NaN
17,NINTENDO 64,Home,Nintendo,1996,2002,32.93,NaN
18,SEGA GENESIS/MEGA DRIVE,Home,Sega,1988,1997,30.75,NaN
19,PLAYSTATION 5,Home,Sony,2020,0,30.00,NaN
20,ATARI 2600,Home,Atari,1977,1992,30.00,NaN
21,XBOX,Home,Microsoft,2001,2009,24.00,NaN
22,GAMECUBE,Home,Nintendo,2001,2007,21.74,NaN
23,XBOX SERIES X/S,Home,Microsoft,2020,0,18.50,Approximately around 18.5 million
24,WII U,Home,Nintendo,2012,2017,13.56,NaN
25,PLAYSTATION VITA,Handheld,Sony,2011,2019,15.00,Estimated between 10-15 million
26,SEGA MASTER SYSTEM,Home,Sega,1986,1996,13.00,Estimated between 10-13 million. Fun Fact The ...
27,SEGA GAME GEAR,Handheld,Sega,1990,1997,10.62,NaN
28,PC ENGINE/TURBOGRAFX-16,Home,NEC/Hudson Soft[note 6],1987,1994,10.00,NaN
29,SEGA SATURN,Home,Sega,1994,2000,9.26,NaN
30,DREAMCAST,Home,Sega,1998,2001,9.13,NaN
31,MASTER SYSTEM(BRAZILIAN VARIANTS),Home,Tectoy,1989,1996,8.00,NaN
32,DENDY(FAMICLONE),Home,Micro Genius,1992,1998,6.00,NaN
33,SUPER NINTENDINHO CLASSIC EDITION,Dedicated,Nintendo,2017,2018,5.28,NaN
34,FAMICOM DISK SYSTEM,Home console add-on,Nintendo,1986,1992,4.50,NaN
35,NINTENDINHO CLASSIC EDITION,Dedicated,Nintendo,2016,2018,3.56,NaN
36,WONDERSWAN,Handheld,Bandai,1999,2018,3.50,NaN
37,SEGA PICO,Home,Sega,1993,1998,3.40,Final sales are greater than 3.4 million
38,COLOR TV-GAME,Dedicated,Nintendo,1977,1980,3.00,NaN
39,INTELLIVISION,Home,Mattel,1980,1990,3.00,NaN
40,MEGA DRIVE(BRAZILIAN VARIANTS),Home,Tectoy,1990,1996,3.00,NaN
41,N-GAGE,Handheld,Nokia,2003,2005,3.00,NaN
42,SEGA CD,Home console add-on,Sega,1991,1996,2.24,NaN
43,COLECOVISION,Home,Coleco,1982,1985,2.00,Final sales are greater than 2 million
44,MAGNAVOX ODYSSEY,Home,Magnavox/Philips,1978,1975,2.00,NaN
45,PC ENGINE CD-ROM,Home console add-on,NEC,1988,1998,1.92,NaN
46,ATARI 7800,Home,Atari,1986,1991,1.00,Final sales are greater than 1 million
47,ATARI LYNX,Handheld,Atari,1989,1995,1.00,Final sales are greater than 1 million
48,PHILIPS CD-I,Home,Philips,1990,1998,1.00,Final sales are greater than 1 million
49,TELSTAR,Dedicated,Coleco,1976,1978,1.00,Final sales are greater than 1 million
50,ATARI 5200,Home,Atari,1982,1984,1.00,Final sales are greater than 1 million

### 3:
- Filtre o nome dos consoles com data de release depois de 2010

In [6]:
df[df["Released Year"] > 2010][["Console Name", "Released Year"]]

                         Console Name  Released Year
2                     NINTENDO SWITCH           2017
5                       PLAYSTATION 4           2013
12                       NINTENDO 3DS           2011
14                           XBOX ONE           2013
19                      PLAYSTATION 5           2020
23                    XBOX SERIES X/S           2020
24                              WII U           2012
25                   PLAYSTATION VITA           2011
33  SUPER NINTENDINHO CLASSIC EDITION           2017
35        NINTENDINHO CLASSIC EDITION           2016

### 4:
- df.describe(), df.info() e substituição dos missing values por "missing"

In [7]:
df.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.1+ KB

In [9]:
df = df.fillna("missing")
df.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PLAYSTATION 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,NINTENDO DS,Handheld,Nintendo,2004,2013,154.02,missing
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,missing
3,GAME BOY,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,GAME BOY COLOR,Handheld,Nintendo,1998,2003,44.06,missing

### 5:
- Filtrar os consoles que foram descontinuados menos de 2 anos após o lançamento

In [10]:
df["Time Until Discontinuation"] = -1 # Caso o console não esteja descontinuado, atribui o valor dele como -1
mask = (df["Discontinuation Year"] != 0)
df.loc[mask, "Time Until Discontinuation"] = df["Discontinuation Year"] - df["Released Year"]
df.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks,Time Until Discontinuation
0,PLAYSTATION 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million,13
1,NINTENDO DS,Handheld,Nintendo,2004,2013,154.02,missing,9
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,missing,-1
3,GAME BOY,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...,14
4,GAME BOY COLOR,Handheld,Nintendo,1998,2003,44.06,missing,5

In [11]:
df[df["Time Until Discontinuation"] < 2][["Console Name", "Time Until Discontinuation"]]

                         Console Name  Time Until Discontinuation
2                     NINTENDO SWITCH                          -1
5                       PLAYSTATION 4                          -1
19                      PLAYSTATION 5                          -1
23                    XBOX SERIES X/S                          -1
33  SUPER NINTENDINHO CLASSIC EDITION                           1
44                   MAGNAVOX ODYSSEY                          -3

**Comentários:**
1. Houve um Videogame descontinuado antes de seu lançamento
2. O único videogame descontinuado em menos de 2 anos foi o SNES Classic Edition